.idea/
*.iml
.vscode/
**/*~
**/.#*
.npm*
.travis.yml
.atomist/
.nyc_output/
assets/kubectl/
node_modules/
# build/
coverage/
doc/
log/
scripts/
src/
test/
CO*.md
**/*.log
**/*.txt

build/test/
build/typedoc/
img/
